from sqlalchemy import Column, String, Integer, Boolean, Float
from sqlalchemy.sql.expression import true
from model.base import Base

class AppModel(Base):

    __tablename__ = {{APPNAME}}

    id = Column(Integer, primary_key=true)
    field1 = Column(String)
    field2 = Column(Boolean)
    field3 = Column(Float)

    def __repr__(self) -> str:
        return f"Users [name={self.field1}]"